:root{

    --ScissorsGradient:hsl(40, 84%, 53%);
    --PaperGradient: hsl(230, 89%, 65%);
    --RockGradient: hsl(349, 70%, 56%);
    --LizardGradient: hsl(261, 72%, 63%);
    --SpockGradient: hsl(189, 58%, 57%);
    
    --ScissorsShadow: hsl(39, 89%, 39%);
    --PaperShadow: hsl(230, 89%, 52%) ;
    --RockShadow: hsl(349, 71%, 42%);
    --LizardShadow: hsl(261, 73%, 50%) ;
    --SpockShadow: hsl(189, 59%, 43%) ;

    --ShadowSetting: 0px 10px 0px 0px;
    --standardShadow: inset 0px 8px 1px -1px rgb(196, 196, 196);

    --NormalText: hsl(0, 0%, 90%);
    --DarkText: hsl(229, 25%, 31%);
    --ScoreText: hsl(229, 64%, 46%);
    --BorderColor: hsl(217, 16%, 45%, 0.7);
    
    --FontFamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    --RadialGradient: hsl(214, 47%, 23%) 30%,hsl(237, 49%, 15%);

    --FontWeigtSmall: 600;
    --FontWeigtBig: 600;

    --Mobile: 375px;
    --Desktop: 1366px;


}
*{
    font-family: var(--FontFamily);
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: var(--NormalText);
    font-weight: var(--FontWeigtBig);
    font-size: 12px;
}
body{
    overflow: hidden;
    height: 100vh;
    max-height: 92vh;
    padding: 4vh;
    background: radial-gradient(ellipse at center top,var(--RadialGradient));
}

.Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

h2{
    font-size: 35px;
    color: var(--DarkText);
}

.RoundedBorder{
    border: 4px var(--BorderColor) solid;
    border-radius: 10px;
    
}

header{
    z-index: 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
    width: 100%;
    max-width: 500px;
}
ul{
    margin-left: 5%;
    margin-top: 12px;
    margin-bottom: 12px;
}
li{
    list-style: none;
    margin: -3px 0;
}
.ScoreCounter{
    
    margin: 12px;

    /* height:90%; */
    text-align: center;
    min-width: 60px;
    width: 15%;
    max-width: 100px;
    border-radius: 4px;
    background-color: var(--NormalText);
    padding-top: 10px;
}
.ScoreCounter p{
    font-size: 10px;
   color: var(--ScoreText);
}

.Circle{
    aspect-ratio: 1/1;
    border-radius: 50%;
    
    /* height: 20px;
    width: 20px; */
    background-color: #00000029;
}

.Icon{
    z-index: 1;
    /* margin: 0%; */
    background-color: rgb(255, 255, 255);
    
    aspect-ratio: 1/1;
    

    background-position: center;
    background-repeat: no-repeat;
    
    background-size: 50%;

    border: 2.4vw solid rgb(15, 156, 15);
    box-shadow: var(--ShadowSetting) var(--SpockShadow),var(--standardShadow);
}

.ChooseOptions{

    /* margin-top: -10vh; */

    aspect-ratio: 1/0.94;
    width: 80%;

    max-width: 380px;

    background-image: url(../images/bg-pentagon.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    margin-bottom: 12vh;
    
}
.ChooseOptions .Icon{
    border-width: 2.5vw;
    min-width: 20vw;
    
}
.ChooseOptions .Icon:hover{
    border-width: 2.8vw;
    min-width: 22vw;
}


.Siccors{
    border-color: var(--ScissorsGradient);
    background-image: url(../images/icon-scissors.svg);
    box-shadow: var(--ShadowSetting) var(--ScissorsShadow),var(--standardShadow);
}
.Paper{
    border-color: var(--PaperGradient);
    background-image: url(../images/icon-paper.svg);
    box-shadow: var(--ShadowSetting) var(--PaperShadow),var(--standardShadow);
}
.Rock{
    border-color: var(--RockGradient);
    background-image: url(../images/icon-rock.svg);
    box-shadow: var(--ShadowSetting) var(--RockShadow),var(--standardShadow);
}
.Lizard{
    border-color: var(--LizardGradient);
    background-image: url(../images/icon-lizard.svg);
    box-shadow: var(--ShadowSetting) var(--LizardShadow),var(--standardShadow);
}
.Spock{
    border-color: var(--SpockGradient);
    background-image: url(../images/icon-spock.svg);
    box-shadow: var(--ShadowSetting) var(--SpockShadow),var(--standardShadow);
}


.ChooseOptions span{

    
    width: 1px;
    height: 1px;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.ChooseOptions .Point1{
    left: 0%;
    top: 38%;
}
.ChooseOptions .Point2{
    left: 20%;
    top: 99%;
}
.ChooseOptions .Point3{
    left: 49%;
    top: 1%;
}
.ChooseOptions .Point4{
    left: 79%;
    top: 99%;
}
.ChooseOptions .Point5{
    left: 98%;
    top: 38%;
}

.BattleResult{
    
    /* margin: auto; */
    /* flex-grow: 2; */
    width: 100%;
    max-width: 700px;

    min-height: 55vh;
    
    max-height: 320px;

    text-align: center;

    display: flex;
    /* flex-wrap: wrap; */
    
    
    display: none;
    justify-content: space-between;

}

.BattleResult .Result{
    
    width: 40%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}
.BattleResult .Result p{
    font-size: 14px;
    margin: 3vh 0;
    white-space: nowrap;
}

.BattleResult div .Circle{
    margin: 4vw;
    /* height: 100%; */
    width: 90%;
    /* height: 90%; */
    max-width: 312px;
    max-height: 312px;

}
.BattleResult div .Icon{
    margin: 0;
    border-width: 4vw;
}

.ShadowResult{
    
    background-color: rgba(127, 255, 212, 0.618);
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 115%;
    width: 115%;
    border-radius: 50%;
    /* max-width: 312px;
    max-height: 312px; */
}

@keyframes shadow-Pulse {
    from {
        box-shadow: rgba(128, 128, 128, 0.08) 0px 0px 2px 0vw, rgba(128, 128, 128, 0.06) 0px 0px  2px 0vw, rgba(128, 128, 128, 0.04) 0px 0px  2px 0vw;
    }
    to {
        box-shadow: rgba(128, 128, 128, 0.1) 0px 0px 2px 4vw, rgba(128, 128, 128, 0.08) 0px 0px  2px 12vw, rgba(128, 128, 128, 0.06) 0px 0px  2px 20vw;
    }
}

.ShadowPulse {
    
    animation-name: shadow-Pulse;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


.RulesButton{

    font-size: 18px;

    text-align: center;
    width: 20vw;
    max-width: 100px;

    font-weight: var(--FontWeigtSmall);
    border-width: 2px;
    padding: 12px;

}
.RulesButton:hover{
    /* color: var(--DarkText); */
    background-color: rgb(128, 128, 128,0.2);
}


.RulesContainer{

    position: fixed;
    height: 100%;
    min-width: 100%;
    background-color: white;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.486);
    
    

    display: flex;
    align-items: center;
    justify-content: center;

    /* display: none; */
    
}
.RulesPage{
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    border-radius: 10px;
    width: 85vw;
    max-width: 300px;
    
    height: 90vh;
    
    background-color: rgb(255, 255, 255);
    padding: 20px 5vw;
}

.RulesPage h1{

    font-size: 30px;
    color: var(--DarkText);


}
.RulesPage span{
    font-size: 35px;
    color: var(--NormalText);
}
.RulesPage span:hover{
    color: var(--DarkText);
}

.RulesPage .RuleImage{

    background-image: url(../images/image-rules-bonus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    /* background-color: rgba(34, 50, 50, 0.274); */

    flex-grow: 1;
    width: 100%;
    /* max-width: 500px; */

    
    height: 80%;


}





@media only screen and (max-width: 290px) {

    body{
        padding: 1vh;
        min-height: 98vh;
    }
    header li{
        font-size: 10px;
        margin: -1px;
    }
    header .ScoreCounter h2{
        font-size: 28px;
    }
    
    /* .BattleResult{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    
    } */
    /* .BattleResult .Result{
        width: 80%;
    } */

    .RulesButton{
        min-width: 100%;
        padding-left: 0;
        padding-right: 0; 
    }
}

@media only screen and (min-width: 600px) {

    .ChooseOptions{
        margin-top: 10vh;
        margin-bottom: 0;
    }
    .ChooseOptions .Icon{
        min-width: 118px;
        border-width: 15px;
    }
    .ChooseOptions .Icon:hover{
        min-width: 130px;
        border-width: 20px;
    }
    
    .BattleResult div .Circle{
        margin: 25px;
    }
    .BattleResult div .Icon{
        margin: 0;
        border-width: 25px;
    }
    .RulesButton{
        align-self: flex-end;
    }
    .RulesPage{
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 300px;
        padding: 20px;
    }
    .RulesPage .RuleImage{
        order: 1;
    }

}

@media only screen and (min-width: 1000px) {

    
    .BattleResult .Result p{

        margin-bottom: 8vh;
        order: -1;
    }

    
}

@media only screen and (max-height: 600px) {

    header{
        height: fit-content;
    }
    .ScoreCounter h2{
        font-size: 20px;
    }
    li{
        font-size: 10px;
    }

    .ChooseOptions{
       
        max-width: 25%;
    }

    .ChooseOptions .Icon{
        min-width: 16vh;
        border-width: 1.6vh;
    }

    .BattleResult{
        justify-content: space-around;
        max-width: 500px;
    }
    .Result{
        max-width: 25%;
    }
    .Result div .Circle{
        margin: 21px;
    }
    .Result div .Icon{
        margin: 0%;
        border-width: 21px;
    }

    
}




